<!doctype html>

<html lang="en">
  <head>
    <meta charset="utf-8">
  
    <title>WebSockets test page</title>
    <meta name="description" content="WebSockets test page">
  
    <link rel="stylesheet" href="bootstrap.min.css">
  </head>
  
  <body>
    <template id="app-template">
      <div class="container-fluid">
        <div class="row">
          <div class="navbar navbar-default col-xs-12">
            <div class="container">
              <div class="navbar-left">
                <a class="navbar-brand" href="#">{{ status }}</a>
                <span v-if="status === 'Connected'" class="badge" style="padding-right: 10px">{{ clients }}</span>
                <button type="button" class="btn btn-default navbar-btn" @click="clear()">Clear</button>
                <button type="button" class="btn btn-default navbar-btn"
                  @click="ws ? wsDisconnect() : wsConnect()"
                >{{ ws ? 'Disconnect' : 'Connect' }}</button
              </div>
              <div class="navbar-right">
                <form @submit.prevent="" v-if="status === 'Connected'" class="navbar-form form-inline">
                  <div class="form-group">
                    <input v-model="msg" @keyup.enter="wsSend" type="text" class="form-control" placeholder="Type your message here...">
                  </div>
                  <div class="form-group">
                    <button type="button" class="form-control btn btn-default" @click="wsSend">Send</button>
                  </div>
                </form>
              </div>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-xs-1"></div>
          <div class="col-xs-2">Time</div>
          <div class="col-xs-7">Server message</div>
          <div class="col-xs-1">Ping</div>
          <div class="col-xs-1"></div>
        </div>
        <hr>
        <div v-for="msg in messages" class="row">
          <div class="col-xs-1"></div>
          <div class="col-xs-2">{{ msg.ts | time }}</div>
          <div class="col-xs-7">{{ msg.msg }}</div>
          <div class="col-xs-1">{{ (msg.ts - msg.serverts) | ping }}</div>
          <div class="col-xs-1"></div>
        </div>
      </div>
    </template>
    <div id="app"></div>
    <script src="vue.min.js"></script>
    <script>
      new Vue({
        el: '#app',
        template: '#app-template',
        data () {
          return {
            status: 'Initializing',
            messages: [],
            clients: 0,
            msg: '',
            ws: undefined
          }
        },
        created () {
          this.status = 'Ready'
        },
        methods: {
          wsSend() {
            if (this.ws && this.status === 'Connected') {
              this.ws.send(this.msg)
            }
          },
          wsConnect () {
            try {
              this.ws = new WebSocket('ws://' + window.location.hostname + ':8081')  
              this.ws.onopen = () => {
                this.status = 'Connected'
                this.ws.send('Connected!')
              }
              this.ws.onmessage = event => {
                var d, msg, ts = (new Date()).getTime()
                try {
                  d = JSON.parse(event.data)
                  switch (d.type) {
                    case 'message':
                      msg = d.data 
                      break
                    case 'broadcastevent':
                      msg = 'New random number is ' + d.data.number
                      break
                    case 'usrmessage':
                      msg = d.data.usr + ' sent message: ' + d.data.msg
                      break
                    case 'updateclients':
                      this.clients = d.data.clients
                      break
                  }
                  if (msg) {
                    this.messages.push({ ts: ts, msg: msg, serverts: d.ts })
                  }
                } catch (e) {
                  console.log(e)
                  this.messages.push({ ts: ts, msg: 'Failed to parse JSON' })
                }
                if (this.messages.length > 30) {
                  this.messages.shift()
                }
              }
              this.ws.onclose = () => {
                this.wsDisconnect()
                this.status = 'Terminated'
              }
            } catch (e) {
              console.error(e)
            }
          },
          wsDisconnect () {
            this.ws.onopen = undefined
            this.ws.onmessage = undefined
            this.ws.onclose = undefined
            this.ws.close()
            this.ws = undefined
            this.status = 'Closed'
          },
          clear () { this.messages = [] }
        },
        filters: {
          time (t) {
            var d = new Date(t)
            const format = (n) => n < 10 ? '0' + n : n
            return format(d.getHours()) + ':' + format(d.getMinutes()) + ':' + format(d.getSeconds())
          },
          ping (t) {
            return ((t / 1000) >> 0).toString() + 'ms'
          }
        }
      })
    </script>
  </body>
</html>
